<!-- /templates/style-guide.liquid -->
  <div class="hero-primary">
    <h1 class="hero-headline">Style Guide</h1>
  </div>

  <div class="page-wrapper">

    <div class="page-section">
      <h2 class="page-section-title">Color Scheme</h2>

      <div class="page-section-inner">
        <div class="ui-color-block">
          <div class="color-sample primary"></div>
          <h4>Primary</h4>
          <h6>RGB: R2 G191 B231</h6>
          <h6>HEX: #02BFE7</h6>
        </div>

        <div class="ui-color-block">
          <div class="color-sample primary-dark"></div>
          <h4>Primary Dark</h4>
          <h6>RGB: R0 G166 B210</h6>
          <h6>HEX: #00A6D2</h6>
        </div>

        <div class="ui-color-block">
          <div class="color-sample primary-darkest"></div>
          <h4>Primary Darkest</h4>
          <h6>RGB: R4 G107 B153</h6>
          <h6>HEX: #046B99</h6>
        </div>

        <div class="ui-color-block">
          <div class="color-sample primary-light"></div>
          <h4>Primary Light</h4>
          <h6>RGB: R155 G218 B241</h6>
          <h6>HEX: #9BDAF1</h6>
        </div>

        <div class="ui-color-block">
          <div class="color-sample primary-lightest"></div>
          <h4>Primary Lightest</h4>
          <h6>RGB: R225 G243 B248</h6>
          <h6>HEX: #E1F3F8</h6>
        </div>
      </div> <!-- page-section-inner -->
    </div> <!-- page-section -->

    <div class="page-section">
      <h2 class="page-section-title">Icons</h2>

      <div class="ui-icons">
        <div class="icon-item">
          <svg id="icon-dd-arrow" class="icon icon--arrow" data-name="dd-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.8 6.6"><polygon points="5.4 6.6 0 0.7 0.8 0 5.4 5.1 10 0 10.8 0.7 5.4 6.6"/></svg>
        </div>

        <div class="icon-item">
          <svg id="icon-close-x" class="icon icon--close" data-name="icon-close-x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.8 11.65"><polygon points="10.8 0.7 10 0 5.42 5.08 5.4 5.05 5.38 5.08 0.8 0 0 0.7 4.69 5.83 0 10.95 0.8 11.65 5.38 6.58 5.4 6.6 5.42 6.58 10 11.65 10.8 10.95 6.11 5.83 10.8 0.7"/></svg>
        </div>
      </div>
    </div> <!-- page-section -->

    <div class="page-section ui-typography">
      <h2 class="page-section-title">Typography</h2>

      <h1 class="heading-sample">H1 Heading</h1>
      <h2 class="heading-sample">H2 Heading</h2>
      <h3 class="heading-sample">H3 Heading</h3>
      <h4 class="heading-sample">H4 Heading</h4>
      <h5 class="heading-sample">H5 Heading</h5>
      <h6 class="heading-sample">H6 Heading</h6>

      <p>Body copy. A series of sentences together which make a paragraph. 1234567890</p>
      <em>Italic body copy. A series of sentences together which make a paragraph. 1234567890</em>
      <p class="small-note">Small Note. This is some copy that is smaller than the rest.</p>
    </div> <!-- page-section -->

    <div class="page-section">
      <h2 class="page-section-title">Fonts</h2>

      <div class="ui-fonts primary">
        <h3 class="section-subtitle">Primary Font</h3>

        <div class="font-title bold">
          <h4>Helvetica Neue Bold</h4>
        </div>
        <div class="font-example bold">
          <p>AaBbCc123</p>
        </div>

        <div class="font-title">
          <h4>Helvetica Neue Regular</h4>
        </div>
        <div class="font-example">
          <p>AaBbCc123</p>
        </div>
      </div>

      <div class="ui-fonts secondary">
        <h3 class="section-subtitle">Secondary Font</h3>

        <div class="font-title bold">
          <h4>Times New Roman Bold</h4>
        </div>
        <div class="font-example bold">
          <p>AaBbCc123</p>
        </div>

        <div class="font-title">
          <h4>Times New Roman Regular</h4>
        </div>
        <div class="font-example">
          <p>AaBbCc123</p>
        </div>
      </div>
    </div> <!-- page-section -->

    <div class="page-section">
      <h2 class="page-section-title">UI Elements</h2>

      <h3 class="section-subtitle">Buttons</h3>

      <div class="ui-buttons">
        <div class="button-block">
          <h4>Primary</h4>

          <div class="block-inner">
            <a href="#" class="btn-primary">Default</a>
            <a href="#" class="btn-primary active">Active</a>
            <a href="#" class="btn-primary hover">Hover</a>
          </div>
        </div>

        <div class="button-block">
          <h4>Secondary</h4>

          <div class="block-inner">
            <a href="#" class="btn-secondary">Secondary</a>
            <a href="#" class="btn-secondary active">Active</a>
            <a href="#" class="btn-secondary hover">Hover</a>
          </div>
        </div>

        <div class="button-block">
          <h4>Disabled</h4>

          <div class="block-inner">
            <a href="#" class="btn-primary disabled">Disabled</a>
          </div>
        </div>
      </div>

      <h3 class="section-subtitle">Inputs</h3>

      <div class="ui-inputs">
        <div class="input-example">
          <label class="input-label">
            Inactive Input:
            <input type="text" value="Inactive" />
          </label>
        </div>

        <div class="input-example">
          <label class="input-label active">
            Active Input:
            <input type="text" value="Active" />
          </label>
        </div>

        <div class="input-example">
          <label class="input-label error">
            Error Input:
            <input type="text" value="Error" />
          </label>
        </div>

        <div class="input-example">
          <label class="input-label success">
            Success Input:
            <input type="text" value="Success" />
          </label>
        </div>

        <div class="input-example">
          <label class="input-label select-field">
            Inactive Select Field:
            <div class="select-field-inner">
              <select>
                <option disabled selected>Select an option..</option>
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
              </select>
              <svg id="dd-arrow" class="icon icon--arrow" data-name="dd-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.8 6.6"><polygon points="5.4 6.6 0 0.7 0.8 0 5.4 5.1 10 0 10.8 0.7 5.4 6.6"/></svg>
            </div>
          </label>
        </div>

        <div class="input-example">
          <label class="input-label select-field active">
            Active Select Field:
            <div class="select-field-inner">
              <select>
                <option disabled selected>Select an option..</option>
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
              </select>
              <svg id="dd-arrow" class="icon icon--arrow" data-name="dd-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.8 6.6"><polygon points="5.4 6.6 0 0.7 0.8 0 5.4 5.1 10 0 10.8 0.7 5.4 6.6"/></svg>
            </div>
          </label>
        </div>

        <div class="input-example">
          <label class="input-label select-field error">
            Error Select Field:
            <div class="select-field-inner">
              <select>
                <option disabled selected>Select an option..</option>
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
              </select>
              <svg id="dd-arrow" class="icon icon--arrow" data-name="dd-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.8 6.6"><polygon points="5.4 6.6 0 0.7 0.8 0 5.4 5.1 10 0 10.8 0.7 5.4 6.6"/></svg>
            </div>
          </label>
        </div>

        <div class="input-example">
          <label class="input-label select-field success">
            Success Select Field:
            <div class="select-field-inner">
              <select>
                <option disabled selected>Select an option..</option>
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
              </select>
              <svg id="dd-arrow" class="icon icon--arrow" data-name="dd-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.8 6.6"><polygon points="5.4 6.6 0 0.7 0.8 0 5.4 5.1 10 0 10.8 0.7 5.4 6.6"/></svg>
            </div>
          </label>
        </div>

      </div>

      <h3 class="section-subtitle">Checkbox and Radio</h3>

      <div class="ui-checkbox">
        <div class="checkbox">
          <input type="checkbox" id="example-1">
          <label for="example-1">Checkbox</label>
        </div>

        <div class="checkbox">
          <input checked type="checkbox" id="example-1">
          <label for="example-1">Checked</label>
        </div>

        <div class="checkbox">
          <input disabled type="checkbox" id="example-1">
          <label for="example-1">Disabled</label>
        </div>
      </div>

    </div> <!-- page-section -->

  </div> <!-- .page-wrapper -->