<form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
  <input type="email" value="" placeholder="Email address" name="EMAIL" id="mail" class="input-group-field">
  <span class="input-group-btn">
    <input type="submit" class="btn" value="Subscribe" name="subscribe" id="subscribe">
  </span>
</form>