// _nav.scss

.main-nav {
  background: $color-white;
}

.inner-nav {
  display: block;

  .nav-item {
    display: inline-block;
    margin-right: 1rem;

    &.last {
      margin-right: 0;
    }
  }
}