// _nav.scss

.main-nav {
  background: $color-white;
  padding: 1rem 0.5rem;
}

.inner-nav {
  display: block;

  .nav-item {
    display: inline-block;
    margin-right: 1rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.last {
      margin-right: 0;
    }
  }
}